# Default ignored files
/../../OU_Test_01 /.idea/shelf/
/../../OU_Test_01 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../OU_Test_01 /.idea/httpRequests/
# Datasource local storage ignored files
/../../OU_Test_01 /.idea/dataSources/
/../../OU_Test_01 /.idea/dataSources.local.xml
